@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Projekt wykononany w ramach przedmiotu Bazy Danych</h2>
    <p class="lead">Napisany w oparciu o ASP.NET MVC</p>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center" >
        <p><a class="btn btn-primary btn-lg" style="width:50%;" onclick=location.href='@Url.Action("Index", "Order")'>Złóż zamówienie &raquo;</a></p>
    </div>
    
</div>