@model IEnumerable<ProjektBazyDanych.CodeFirst.Category>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>




@using (Ajax.BeginForm("SaveForm", "Order", new AjaxOptions() { }))
{

    <h2>Wybierz produkty</h2>
    <table class="table2" style="margin-bottom:50px; margin-top:30px">
        <tr>
            <th>
                Wpisz nazwe użytkownika
            </th>
            <td>
                <input class="userInput" />
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>
                Kategoria
            </th>
            <th>
                Produkt
            </th>
            <th>
                Ilość
            </th>
        </tr>
    </table>
    <div id="source" style="display:none">
        <table class="table">
            <tr>
                <td>
                    <select class="categorySelect" style="min-width:200px">
                        <option selected disabled>Wybierz kategorie..</option>

                        @foreach (var item in Model)
                        {
                            <option>@item.Name</option>
                        }

                    </select>
                </td>
                <td>
                    <select class="productsSelect" style="min-width:200px">
                        <option selected disabled>Wybierz produkt..</option>
                    </select>
                </td>
                <td>
                    <textarea class="productQuantity" rows="1" cols="2"></textarea>
                </td>
            </tr>
        </table>
    </div>
        <div id="containerForm"></div>

        <button type="submit" value="Zapisz">Złóż zamówienie</button>
}
<script>
    var counter;

    $(document).ready(function () {

        var $userInput = $(".userInput:first");
        $userInput.attr('name', 'userName')
        counter = 0;
        addNew();
    });

    function addNew() {
        var $target = $('#containerForm');
        var $source = $('#source');
        var $copy = $source.clone();

        bind($copy);
        $copy.appendTo($target).show();

    }

    function bind($container) {
        var $categorySelect = $container.find(".categorySelect:first");
        var $productsSelect = $container.find(".productsSelect:first");
        var $quantity = $container.find(".productQuantity:first");

        $categorySelect.attr('name', 'catName[' + counter + ']')
        $productsSelect.attr('name', 'prodName[' + counter + ']')
        $quantity.attr('name', 'quantity[' + counter + ']')
        counter++;
        $categorySelect.change(function () {

            var str = $categorySelect.val();
            $.post('@Url.Action("ShowProducts", "Order")?categoryName=' + str, function (data, status) {
                    $productsSelect.html('');

                    $productsSelect
                        .append($("<option></option>")
                            .attr("selected", "disabled"));

                    $.each(data, function (i, value) {
                        $productsSelect
                            .append($("<option></option>")
                                .attr("value", value.Name)
                                .text(value.Name));
                    });
            });
        });

        $productsSelect.change(function () { addNew(); });

    }
</script>


