
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<table class="table">
    <tr>
        <th>
            Wprowadź swój nick
        </th>
        <td>
            <input width="300"/>
        </td>
    </tr>
</table>

